@page
@model JurayKV.UI.Pages.AdvertiseModel
@{
}
<div class="page-title-section" style="background-image: url(../img/bgimage.jpg);">
    <div class="container">
        <h1>Advertise With Koboview</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#"> Advertise With Koboview</a></li>
        </ul>
    </div>
</div>
 
<div class="section-block-grey">
    <div class="container">
        <div class="boxed-div">

            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="" style="text-align:center;margin:0 auto;">

                            <img src="~/img/koboview-about.jpg" class="rounded-border shadow-primary" alt="img" style="text-align:center;margin:0 auto;">

                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="pr-30-md">
                            <div class="section-heading">
                                <h4 class="md-top-x">Advertise with KoboView: Boost Your Reach on WhatsApp Status!</h4>
                            </div>
                            <div class="text-content-big mt-20 text-justify">
                                <p>
                                    Are you seeking a powerful avenue to amplify your brand's visibility on WhatsApp and connect with a broader audience? Look no further than KoboView – the ultimate platform for impactful and budget-friendly advertising on WhatsApp status!
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <h3 style="text-align:center;">Why Choose KoboView for Your Advertising Needs?</h3>
        </div>
        <div class="row mt-60">

            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4>

                                <a href="#">

                                    Affordable Excellence
                                </a>
                            </h4>
                            <p>
                                KoboView stands out as the epitome of cost-effectiveness, charging a mere 3 Naira per view. We believe in delivering exceptional value without breaking the bank.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4>

                                <a href="#">
                                    Unleash Your Message to Millions
                                </a>
                            </h4>
                            <p>


                                With a colossal user base on WhatsApp, your brand deserves the spotlight. KoboView opens the gateway to this extensive audience, ensuring your message reaches far and wide.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4>

                                <a href="#">
                                    Insights that Empower
                                </a>
                            </h4>
                            <p>


                                Harness the power of knowledge with our comprehensive analytics. Gain a deep understanding of your campaign's performance – track views, interactions, and audience engagement to refine your strategy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4>

                                <a href="#">
                                    Seamless Setup, Swift Impact
                                </a>
                            </h4>
                            <p>


                                At KoboView, we understand the value of your time. Our user-friendly interface ensures a hassle-free setup, allowing you to focus on crafting a compelling message rather than navigating complex processes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4>

                                <a href="#">
                                    Precision Targeting, Maximum Impact
                                </a>
                            </h4>
                            <p>


                                Tailor your message to your ideal audience. KoboView empowers you to pinpoint specific demographics, ensuring that your campaign resonates with those who matter most to your business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4>

                                <a href="#">
                                    Responsive Customer Support
                                </a>
                            </h4>
                            <p>
                                Our dedicated customer support team is ready to assist you every step of the way. Have questions, need assistance, or want guidance on optimizing your campaign? We're here for you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="boxed-div">
            <div class="section-heading center-holder">
                <h2 class="text-center">How To Advertise With Us</h2>
                <div class="section-heading-line"></div>
                <p class="text-center">it's that simple. Share the power of user-centric advertising today.</p>
            </div>
            <div class="row mt-50">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="number-box">
                        <h3>01</h3>
                        <div class="number-box-line"></div>
                        <h4>
                            Create Your Ad
                        </h4>
                        <p>
                            Craft an attention-grabbing message, design an eye-catching image or video, and choose the duration of your campaign.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="number-box">
                        <h3>02</h3>
                        <div class="number-box-line"></div>
                        <h4>
                            Set Your Budget
                        </h4>
                        <p>
                            Determine the number of views you want and set your budget accordingly. Our transparent pricing ensures you know exactly what you're paying for.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="number-box">
                        <h3>03</h3>
                        <div class="number-box-line"></div>
                        <h4>
                            Monitor in Real-Time
                        </h4>
                        <p>
                           
                            Watch your campaign unfold in real-time with our live monitoring feature. Track the performance and make adjustments as needed.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="number-box">
                        <h3>04</h3>
                        <div class="number-box-line"></div>
                        <h4>
                            Get Results
                        </h4>
                        <p>
                            

                            Experience the power of KoboView as your message reaches thousands of WhatsApp users. See the results in increased brand visibility, engagement, and potential leads.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-block-grey">
    <div class="container">
        <div class="boxed-div">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 col-12">
                        <div class="pr-30-md">
                            <h3> Advertise with KoboView Today and Make Your Message Matter!</h3>
                            <div class="text-content-big mt-20 text-justify">
                                <p>
                                   

                                    Ready to elevate your brand to new heights? Advertise with KoboView and harness the power of WhatsApp status to connect with your audience in a meaningful way.
                                    <br />
                                    For inquiries and to get started, contact us at help@koboview.com or use our easy-to-navigate platform to set up your campaign now. Join the ranks of successful advertisers who have unlocked the potential of WhatsApp status with KoboView!
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>