@page
@model JurayKV.UI.Pages.ContactModel
@{
}

<div class="page-title-section" style="background-image: url(../img/bgimage.jpg);">
    <div class="container">
        <h1>Contact Us</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>
<!-- breadcrumb -->
<div class="section-block-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="contact-box">
                    <i class="fa fa-phone-square"></i>
                    <h4>Call Us</h4>
                    <span>+123 </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="contact-box">
                    <i class="fa fa-map"></i>
                    <h4>Visit Us</h4>
                    <span>
                        NO.29, CAIRO STREET,WUSE 2,
                        AMAC, FCT ABUJA
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="contact-box">
                    <i class="fa fa-envelope"></i>
                    <h4>Mail Us</h4>
                    <span>help@koboview.com</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="contact-box">
                    <i class="fa fa-comments-o"></i>
                    <h4>Live Chat (Click Below)</h4>
                    <span>Chat with Us 24/7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->
<!-- Icon-Box Start -->
 
<!-- Icon-Box End -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/65534d59cec6a912820fb6ad/1hf6mc9hg';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->