@page
@model JurayKV.UI.Pages.HelpModel
@{
}
 


<div class="page-title-section" style="background-image: url(../img/bgimage.jpg);">
    <div class="container">
        <h1>Help</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>
<style>
    h1, h2, h3, h4, h5, h6 {
        color: black;
    }
</style>
<div class="section-block-grey">
    <div class="container">
        <div class="boxed-div">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 col-12">
                        <div class="pr-30-md">

                            <div class="text-content-big mt-20 text-justify">
                                <h4 style="color:black;">Chat us on the Livechat Icon Below.</h4>
                                <p>waiting time: 2min approximately</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/65534d59cec6a912820fb6ad/1hf6mc9hg';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->