@page
@model JurayKV.UI.Pages.OpeloggerModel
@{
}
@if (Model.Passkk == true)
{
    <h2>LOGGER</h2>

    <div>
        <pre>@Model.LogContent</pre>
    </div>


    <br />
    <br />
    <br />

    <form method="post" asp-page-handler="ClearLog">

        <button type="submit">Clear Log</button>
    </form>
}
else
{
    <form method="post">
        <input type="text" name="pass" value="" />
        <button type="submit">Access</button>
    </form>
}