@page
@model JurayKV.UI.Pages.Pay2Model
@{
}
<form id="form1"
      name="form1"
      action="https://newwebpay.qa.interswitchng.com/collections/w/pay"
      method="post">
    <input name="merchant_code" id="merchant_code" value="VNA" />
    <input name="pay_item_id" id="pay_item_id" value="103" />
    <input name="txn_ref" id="txn_ref" value="cbw44334543wE90iRTmbtIKx" />
    <input name="amount" id="amount" value="5600" />
    <input name="currency" id="currency" value="566" />
    <input name="cust_name" id="cust_name" value="Puneet Malik" />
    <input name="cust_email"
           id="cust_email"
           value="Puneetmalik2015@gmail.com" />
    <input name="cust_id"
           id="cust_id"
           value="effd53fc-4cc7-44e4-9d074-52b8b4197468"
           placeholder="you@example.com" />
    <input name="pay_item_name"
           id="pay_item_name"
           value="flight"
           placeholder="you@example.com" />
    <input name="site_redirect_url"
           value="https://localhost:7090/Payment/verify" />

    <input type="submit" value="submit" />
</form>

 
{
    "BillerList": {
        "Count": 22,
        "Category": [
            {
                "Id": 4,
                "Name": "Mobile/Recharge",
                "Description": "Recharge your phone",
                "Billers": [
                    {
                        "Type": "MO",
                        "Id": 17305,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "09test",
                        "ShortName": "09test",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "09test.jpg",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "09test",
                        "NetworkId": "6280510423",
                        "ProductCode": "6280510423",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "SmallImageId": "fb44228b-199e-4ae8-a9e7-55294928b806",
                        "LargeImageId": "fb44228b-199e-4ae8-a9e7-55294928b806",
                        "MediumImageId": "fb44228b-199e-4ae8-a9e7-55294928b806",
                        "AmountType": 0
                    },
                    {
                        "Type": "MP",
                        "Id": 687,
                        "PayDirectProductId": 3361,
                        "PayDirectInstitutionId": 0,
                        "Name": "Airtel Data Bundles",
                        "ShortName": "Airtel",
                        "Narration": "Airtel Data",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "q.gif",
                        "Surcharge": "3500",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "airtel",
                        "SupportEmail": "pedoosagie@interswitchng.com",
                        "NetworkId": "6280510425",
                        "ProductCode": "6280510425",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "MP",
                        "Id": 17570,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "Airtel OTA",
                        "ShortName": "AirtelOTA",
                        "Narration": "Airtel OTA",
                        "CustomerField1": "Enter Phone Number",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "AirtelOTA",
                        "NetworkId": "6280510421",
                        "ProductCode": "6280510421",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "MP",
                        "Id": 108,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "Airtel Recharge Pins",
                        "ShortName": "ZainPIN",
                        "Narration": "Buy Airtel recharge PINs here",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "zain.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "zainrechargepin",
                        "SupportEmail": "zain@zain1.com",
                        "RiskCategoryId": "16201",
                        "NetworkId": "628051042",
                        "ProductCode": "628051042",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "SmallImageId": "c1b7dde0-cc9d-46a5-947a-186abf95a09c",
                        "LargeImageId": "c1b7dde0-cc9d-46a5-947a-186abf95a09c",
                        "MediumImageId": "c1b7dde0-cc9d-46a5-947a-186abf95a09c",
                        "AmountType": 0
                    },
                    {
                        "Type": "MO",
                        "Id": 120,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "Etisalat Recharge Top-Up",
                        "ShortName": "ETILAT",
                        "Narration": "Buy Etisalat recharge",
                        "CustomerField1": "Phone No",
                        "LogoUrl": "9mobile.jpg",
                        "Surcharge": "900",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "etisalat",
                        "SupportEmail": "pedoosagie@interswitchng.com",
                        "NetworkId": "6280510425",
                        "ProductCode": "6280510490",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "SmallImageId": "c132842d-9cb4-4c34-9d56-8dafb75959d8",
                        "LargeImageId": "c132842d-9cb4-4c34-9d56-8dafb75959d8",
                        "MediumImageId": "c132842d-9cb4-4c34-9d56-8dafb75959d8",
                        "AmountType": 0
                    },
                    {
                        "Type": "PHV",
                        "Id": 15944,
                        "PayDirectProductId": 4431,
                        "PayDirectInstitutionId": 0,
                        "Name": "GLO",
                        "ShortName": "GLODATA",
                        "Narration": "GLO",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "glodata",
                        "SupportEmail": "ugochukwu.okeke@interswitchgroup.com",
                        "NetworkId": "6280510421",
                        "ProductCode": "628051501116",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "MO",
                        "Id": 402,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "Glo QuickCharge",
                        "ShortName": "GLOQCK",
                        "Narration": "Mobile Top-Up",
                        "CustomerField1": "Mobile number",
                        "LogoUrl": "glo.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "gloquickcharge",
                        "NetworkId": "628051045",
                        "ProductCode": "628051045",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "MediumImageId": "5f5246c5-a059-4aa3-82e5-843a1d34ed10",
                        "AmountType": 0
                    },
                    {
                        "Type": "",
                        "Id": 322,
                        "PayDirectProductId": 3663,
                        "PayDirectInstitutionId": 0,
                        "Name": "Idevworks Tech Ltd",
                        "ShortName": "IDEVW",
                        "Narration": "SmsLIive247 Services",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "idevworks.jpg",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "idevworks",
                        "SupportEmail": "info@smslive247.com",
                        "RiskCategoryId": "16203",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "MediumImageId": "904d17ba-8d33-4992-94bc-147382ffee48",
                        "AmountType": 0
                    },
                    {
                        "Type": "MO",
                        "Id": 17600,
                        "PayDirectProductId": 4601,
                        "PayDirectInstitutionId": 0,
                        "Name": "mafab airtime",
                        "ShortName": "MAFABAIR",
                        "CustomerField1": "customerid",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "mafabvtu",
                        "SupportEmail": "adenike.olapetan@interswitchng.com",
                        "RiskCategoryId": "16201",
                        "NetworkId": "628051021",
                        "ProductCode": "1036460345",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "MP",
                        "Id": 17601,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "mafab data ",
                        "ShortName": "MAFABDATA",
                        "CustomerField1": "customerid",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "mafabdata",
                        "SupportEmail": "adenike.olapetan@interswitchng.com",
                        "RiskCategoryId": "16201",
                        "NetworkId": "628051022",
                        "ProductCode": "**",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "MP",
                        "Id": 17572,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "MTN Bill Stream",
                        "ShortName": "MTNB",
                        "Narration": "NetworkId:628051043,ProductCode:**",
                        "CustomerField1": "CustomerId",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "mtnBillStream",
                        "RiskCategoryId": "16201",
                        "NetworkId": "628051043",
                        "ProductCode": "**",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "MP",
                        "Id": 4444,
                        "PayDirectProductId": 3516,
                        "PayDirectInstitutionId": 0,
                        "Name": "MTN Data Bundles",
                        "ShortName": "MTN",
                        "Narration": "MTN Data",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "q.gif",
                        "Surcharge": "3500",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "mtnvtu",
                        "SupportEmail": "ayo.aremu@interswitchng.com",
                        "NetworkId": "628051043",
                        "ProductCode": "6280510431",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "MediumImageId": "7389beb8-36fe-4c1d-bba0-56635ff4bfe0",
                        "AmountType": 0
                    },
                    {
                        "Type": "MP",
                        "Id": 17571,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "MTN Dynamic Data Bundle",
                        "ShortName": "MTN2",
                        "Narration": "MTN Recharge Test",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "mtn2",
                        "NetworkId": "628051043",
                        "ProductCode": "6280510431",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "SmallImageId": "399cc2f1-d1e4-4df7-829e-77a3a8033d68",
                        "LargeImageId": "399cc2f1-d1e4-4df7-829e-77a3a8033d68",
                        "MediumImageId": "399cc2f1-d1e4-4df7-829e-77a3a8033d68",
                        "AmountType": 0
                    },
                    {
                        "Type": "MO",
                        "Id": 109,
                        "PayDirectProductId": 3900,
                        "PayDirectInstitutionId": 0,
                        "Name": "MTN e-Charge Prepaid",
                        "ShortName": "MTNVTU1",
                        "Narration": "Purchase MTN Virtual Aitime",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "mtn3.jpg",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "mtnvtu1",
                        "SupportEmail": "mtn@mtn.com",
                        "RiskCategoryId": "16201",
                        "NetworkId": "628051043",
                        "ProductCode": "628051043",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "SmallImageId": "e31c2f89-0d45-4b69-9d79-352352b80b85",
                        "LargeImageId": "e31c2f89-0d45-4b69-9d79-352352b80b85",
                        "MediumImageId": "e31c2f89-0d45-4b69-9d79-352352b80b85",
                        "AmountType": 2
                    },
                    {
                        "Type": "",
                        "Id": 16909,
                        "PayDirectProductId": 4498,
                        "PayDirectInstitutionId": 0,
                        "Name": "MTN Postpaid2",
                        "ShortName": "MTNPOST",
                        "CustomerField1": "Account ID|Invoice ID",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "mtnpostpaid",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 3
                    },
                    {
                        "Type": "",
                        "Id": 16910,
                        "PayDirectProductId": 4518,
                        "PayDirectInstitutionId": 0,
                        "Name": "MTN POSTPAID3",
                        "ShortName": "MTNPOST3",
                        "CustomerField1": "Bill/Reference Id",
                        "CustomerField2": "Service Id",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "MTNPOST3",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 5
                    },
                    {
                        "Type": "PHV",
                        "Id": 15607,
                        "PayDirectProductId": 4426,
                        "PayDirectInstitutionId": 0,
                        "Name": "NTEL Data Bundle",
                        "ShortName": "NTELDATA",
                        "Narration": "NTEL Data Bundle Purchase",
                        "CustomerField1": "Mobile Number",
                        "LogoUrl": "q.gif",
                        "Surcharge": "10000",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "nteldata",
                        "SupportEmail": "support@ntel.com",
                        "NetworkId": "6280510471000",
                        "ProductCode": "628051047",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "MO",
                        "Id": 15727,
                        "PayDirectProductId": 4422,
                        "PayDirectInstitutionId": 0,
                        "Name": "Safaricom Kenya",
                        "ShortName": "SAFKE",
                        "Narration": "Safaricom Kenya",
                        "CustomerField1": "Phone Number",
                        "LogoUrl": "Safaricom dummy",
                        "Surcharge": "0",
                        "CurrencyCode": "404",
                        "CurrencySymbol": "KES",
                        "QuickTellerSiteUrlName": "safaricom",
                        "SupportEmail": "joseph.nguu@interswitchgroup.com ",
                        "NetworkId": "6280510429",
                        "ProductCode": "6280510429",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "SmallImageId": "fb44228b-199e-4ae8-a9e7-55294928b806",
                        "LargeImageId": "fb44228b-199e-4ae8-a9e7-55294928b806",
                        "MediumImageId": "fb44228b-199e-4ae8-a9e7-55294928b806",
                        "AmountType": 0
                    },
                    {
                        "Type": "MO",
                        "Id": 110,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "VisaFone Data Plan",
                        "ShortName": "VDP",
                        "Narration": "Visafone Data Plan",
                        "CustomerField1": "customer id",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "visafonedataplan",
                        "SupportEmail": "support@interswitchng.com",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "VOS",
                        "Id": 172,
                        "PayDirectProductId": 0,
                        "PayDirectInstitutionId": 0,
                        "Name": "Voucher Service",
                        "ShortName": "VOS",
                        "Narration": "Voucher Redemption",
                        "CustomerField1": "customerMobile",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CustomSectionUrl": "62809894",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "Voucher/create",
                        "SupportEmail": "adeola.oladeinde@interswitchgroup.com",
                        "NetworkId": "62809894",
                        "ProductCode": "62809894001",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    },
                    {
                        "Type": "PHV",
                        "Id": 16189,
                        "PayDirectProductId": 4407,
                        "PayDirectInstitutionId": 0,
                        "Name": "WAEC Payments",
                        "ShortName": "WEPV",
                        "Narration": "WAEC Payments",
                        "CustomerField1": "Mobile Number",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "waec",
                        "SupportEmail": "samuel.idaewor@interswitchgroup.com",
                        "NetworkId": "62805188001",
                        "ProductCode": "043076012",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 5
                    },
                    {
                        "Type": "PHV",
                        "Id": 16480,
                        "PayDirectProductId": 4447,
                        "PayDirectInstitutionId": 0,
                        "Name": "Waec Sale of Forms",
                        "ShortName": "WFTV",
                        "Narration": "Waec Form Tokens",
                        "CustomerField1": "Mobile Number",
                        "LogoUrl": "q.gif",
                        "Surcharge": "0",
                        "CurrencyCode": "566",
                        "CurrencySymbol": "NGN",
                        "QuickTellerSiteUrlName": "waecforms",
                        "SupportEmail": "samuel.idaewor@interswitchgroup.com",
                        "NetworkId": "62805188001",
                        "ProductCode": "6280515088002",
                        "PageFlowInfo": {
                            "Elements": [],
                            "FinishButtonName": "Finish",
                            "StartPage": "DoPayment.aspx",
                            "UsesPaymentItems": true,
                            "PerformInquiry": true,
                            "AllowRetry": true
                        },
                        "CategoryId": 4,
                        "CategoryName": "Mobile/Recharge",
                        "AmountType": 0
                    }
                ]
            }
        ]
    },
    "ResponseCode": "90000",
    "ResponseCodeGrouping": "SUCCESSFUL"
}