@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="page-title-section" style="background-image: url(../img/bgimage.jpg);">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">@ViewData["Title"]</a></li>
        </ul>
    </div>
</div>
 

<style>
    h1, h2, h3, h4, h5, h6 {
        color: black;
    }
</style>
<div class="section-block-grey">
    <div class="container">
        <div class="boxed-div">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 col-12">
                        <div class="pr-30-md">

                            <div class="text-content-big mt-20 text-justify">
                                <h3> Privacy Policy of KoboView</h3>
                                <p>
                                    At KoboView, we are committed to protecting the privacy of our users and clients. This Privacy Policy outlines how we collect, use, and safeguard your personal information in the course of delivering our advertising services on WhatsApp status. We prioritize user privacy and adhere to strict principles of transparency and data protection.
                                </p>

                                <h5>1. Information We Collect</h5>


                                <h5>1.1. User Data:</h5>
                                <p>
                                    KoboView does not collect personal information from users without their explicit consent. When you interact with our advertising campaigns on WhatsApp status, we may collect limited data to measure campaign performance, such as engagement and interaction metrics. This information is anonymized and cannot be used to identify individual users.
                                </p>


                                <h5>1.2. Client Information</h5>
                                <p>
                                    We collect and store information provided by our clients, including contact details and billing information, to maintain our business relationship.
                                </p>


                                <h5> 2. How We Use Your Information</h5>

                                <h5>2.1. User Data:</h5>
                                <p>
                                    The information collected from user interactions with our advertising campaigns is used solely for campaign analysis and optimization. This data helps us ensure that our advertising messages are relevant and engaging to users, enhancing their overall experience.
                                </p>


                                <h5> 2.2. Client Information:</h5>
                                <p>
                                    We use client information to maintain our business relationship, process payments, and communicate with our clients about campaign performance and updates.
                                </p>


                                <h5> 3. Data Sharing</h5>

                                <h5>
                                    3.1. We do not sell, share, or rent user data to third parties.
                                </h5>
                                <p>
                                    Your data is used exclusively for the purpose of providing our advertising services.
                                </p>


                                <p>
                                    3.2. We may share anonymized and aggregated data with clients for reporting and campaign analysis purposes. This data does not contain personally identifiable information.
                                </p>

                                <h5>4. Cookies and Tracking</h5>
                                <p>


                                    KoboView uses cookies and similar technologies to track user interactions with our advertising campaigns. These cookies are essential for campaign performance measurement and optimization and are not used to personally identify users. Users can adjust their cookie settings within their device or browser preferences.
                                </p>

                                <h5>5. Data Security</h5>
                                <p>


                                    We implement industry-standard security measures to protect your data against unauthorized access, disclosure, or alteration. Our team is committed to maintaining the confidentiality and integrity of the information we collect.
                                </p>

                                <h5>6. Consent and Control</h5>
                                <p>


                                    KoboView respects user privacy and provides options for users to control their data. Users can choose to opt out of our advertising campaigns by adjusting their privacy settings on WhatsApp.
                                </p>


                                <h5>7. Changes to this Privacy Policy</h5>
                                <p>


                                    KoboView reserves the right to update this Privacy Policy to reflect changes in our business practices, legal requirements, or advancements in data protection. We will notify clients and users of any material changes.
                                </p>


                                <h5>
                                    8. Contact Us

                                </h5>
                                <p>
                                    If you have any questions or concerns regarding this Privacy Policy or our data practices, please contact us at help@koboview.com
                                </p>


                                <p>
                                    By using KoboView's services, you agree to the terms outlined in this Privacy Policy. We are committed to upholding the principles of privacy, relevance, and engagement in all our advertising endeavors on WhatsApp status.

                                </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
