@page
@model JurayKV.UI.Pages.SendMailXModel
@{
}

@Model.LogContent
<form method="post">
    <input name="take" placeholder="take"/>
    <input name="skip" placeholder="skip"/>
    <button type="submit">Send</button>
</form>