@page
@model JurayKV.UI.Pages.TermofuseModel
@{ ViewData["Title"] = "Terms of Use";

}
<div class="page-title-section" style="background-image: url(../img/bgimage.jpg);">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">@ViewData["Title"]</a></li>
        </ul>
    </div>
</div>

<style>
    h1, h2, h3, h4, h5, h6 { 
        color: black;
         
    }
</style>
<div class="section-block-grey">
    <div class="container">
        <div class="boxed-div">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 col-12">
                        <div class="pr-30-md">

                            <div class="text-content-big mt-20 text-justify">
                                <h4 style="color:black;">Effective Date: Dec 2023</h4>
                                <h6 style="color:black;">Welcome to KoboView! By accessing or using our advertising services on WhatsApp status, you agree to comply with and be bound by the following Terms of Use. These terms govern the relationship between KoboView and its users and clients. Please read these terms carefully before engaging with our services.</h6>
                                <br />
                                <h5>1. Acceptance of Terms</h5>
                                <p>
                                    

                                    By accessing or using KoboView's services, you acknowledge that you have read, understood, and agreed to these Terms of Use. If you do not agree with any part of these terms, please refrain from using our services.
                                </p>
                                <br />
                                <h5>2. Use of Services</h5>
                                <p>

                                    KoboView provides advertising services on WhatsApp status to connect businesses with their target audience. Users and clients may access and utilize these services in accordance with the terms outlined herein.
                                    <br />
                                    Users are prohibited from engaging in any activity that disrupts or interferes with the proper functioning of KoboView's services. This includes but is not limited to hacking, spamming, or any other unauthorized use of our platform.
                                </p>
                                <br />
                                <h5> Account Creation</h5>
                                <p>
                                    To access certain features of our services, users may be required to create an account. Users are responsible for maintaining the confidentiality of their account information and are liable for any activity that occurs under their account.
                                    <br /> Clients must provide accurate and up-to-date information when creating an account with KoboView. Any false or misleading information may result in the termination of services.
                                </p>
                                <br />
                                <h5>Intellectual Property</h5>
                                <p>
                                    All content and materials provided by KoboView, including but not limited to text, graphics, logos, and software, are the property of KoboView and are protected by intellectual property laws.
                                    <br />Users and clients may not use, copy, reproduce, or distribute any content from KoboView without explicit permission from the company.
                                </p>
                                <br />
                                <h5>Payment and Fees</h5>
                                <p>
                                    
                                      Clients are required to pay the fees associated with the use of KoboView's advertising services as agreed upon in the service contract.
                                    <br />
                                     KoboView reserves the right to modify its fees and payment terms. Clients will be notified in advance of any changes to the payment structure.
                                </p>
                                <br />
                                <h5> Limitation of Liability</h5>
                                <p>
                                    KoboView is not liable for any direct, indirect, incidental, or consequential damages that may arise from the use or inability to use our services.

                                    <br />
                                    KoboView does not guarantee the accuracy, reliability, or completeness of any information provided through our services.
                                </p>
                                <br />
                                <h5>Termination</h5>
                                <p>
                                    

                                    KoboView reserves the right to terminate or suspend access to its services at any time, with or without cause. Users and clients are also free to terminate their use of our services at any time.
                                </p>
                                <br />
                                <h5>
                                    Changes to Terms
                                </h5>
                                <p>

                                    KoboView may update these Terms of Use from time to time. Users and clients will be notified of any material changes to these terms.
                                </p>
                                <br />
                                <h5>Contact Us</h5>
                                <p>
                                    

                                    If you have any questions or concerns about these Terms of Use, please contact us at help@koboview.com
                                </p>
                                <br /> 
                                <p>By using KoboView's services, you agree to abide by these Terms of Use and any subsequent modifications.</p>
                                <br />
                                
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
