@page
@model JurayKV.UI.Areas.KvMain.Pages.ISetting.AddModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW SETTING</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="Setting.MinimumAmountBudget" class="control-label"></label>
                        <input asp-for="Setting.MinimumAmountBudget" class="form-control" />
                        <span asp-validation-for="Setting.MinimumAmountBudget" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Setting.DefaultAmountPerView" class="control-label"></label>
                        <input asp-for="Setting.DefaultAmountPerView" class="form-control" />
                        <span asp-validation-for="Setting.DefaultAmountPerView" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Setting.DefaultReferralAmmount" class="control-label"></label>
                        <input asp-for="Setting.DefaultReferralAmmount" class="form-control" />
                        <span asp-validation-for="Setting.DefaultReferralAmmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
