@page
@model JurayKV.UI.Areas.KvMain.Pages.ISetting.RemoveModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE SETTING</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  
                     <dl class="row">
                         <dt class="col-sm-2">
                             @Html.DisplayNameFor(model => model.Setting.MinimumAmountBudget)
                         </dt>
                         <dd class="col-sm-10">
                             @Html.DisplayFor(model => model.Setting.MinimumAmountBudget)
                         </dd>
                         <dt class="col-sm-2">
                             @Html.DisplayNameFor(model => model.Setting.DefaultAmountPerView)
                         </dt>
                         <dd class="col-sm-10">
                             @Html.DisplayFor(model => model.Setting.DefaultAmountPerView)
                         </dd>
                          
                     </dl>
                     
                    <div class="form-group">
                        <form method="post">
                            <input type="hidden" asp-for="Setting.Id" />
                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>
                            </form>
                    </div>
                
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
