@page
@model JurayKV.UI.Areas.KvMain.Pages.IAds.UpdateModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE ADVERT</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Command.Id" />
                    <div class="form-group">
                        <label for="BucketId">Select Bucket</label>
                        <select asp-for="Command.BucketId" class="form-control" id="myDropdown" asp-items="Model.ListBuckets"></select>
                    </div>

                    <div class="form-group">
                        <label for="BucketId">Select Company</label>
                        <select asp-for="Command.CompanyId" class="form-control" id="myDropdown" asp-items="Model.ListCompanies"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Command.Status" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Command.Status, new SelectList(Enum.GetValues(typeof(JurayKV.Domain.Primitives.Enum.DataStatus))), new { @class = "form-control" })
                        <span asp-validation-for="Command.Status" class="text-danger"></span>
                    </div>

                    @if (Model.Command.ImageUrl != null)
                    {
                        

                        <div class="form-group">
                            <label class="control-label">Previouse Image/Video</label><br />
                            @if (Model.Command.ImageKey.EndsWith(".jpg") || Model.Command.ImageKey.EndsWith(".jpeg") || Model.Command.ImageKey.EndsWith(".png") || Model.Command.ImageKey.EndsWith(".gif") || Model.Command.ImageKey.EndsWith(".bmp"))
                            {
                                <img src="@Model.Command.ImageUrl" class="img-fluid" style="max-height: 150px;" />
                            }
                            else if (Model.Command.ImageKey.EndsWith(".mp4") || Model.Command.ImageKey.EndsWith(".avi") || Model.Command.ImageKey.EndsWith(".mov") || Model.Command.ImageKey.EndsWith(".wmv") || Model.Command.ImageKey.EndsWith(".flv"))
                            {
                                <video controls style="height:120px;width:250px;">
                                    <source src="@Model.Command.ImageUrl" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            }



                        </div>

                    }

                    <div class="form-group">
                        <label asp-for="Command.ImageId" class="control-label"></label>
                        <select asp-for="Command.ImageId" class="form-control" id="myDropdownw" asp-items="Model.ListImages">
                            <option value="">Choose Image</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
