
<html lang="zxx">
<head>

    <title>DASHBOARD | KOBOVIEW | NO 1 ADVERTISING PLATFORM</title>
    <link rel="shortcut icon" href="~/img/Koboview-Icon.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="~/Login/AgileVendor/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/Login/AgileVendor/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Login/AgileVendor/flaticon.css">

    <!-- Favicon icon -->
    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Login/AgileVendor/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/Login/AgileVendor/default.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/Login/agilevendor/main.css" rel="stylesheet" />
    <style>
        .login-6 .form-section {
            background: #09045d !important;
        }

        .btn-primary {
            color: #fff;
            background-color: #09045d !important;
            border-color: #f9f9f9 !important;
        }

        .login-6 .info h1 {
            color: #fff;
            margin-bottom: 0px;
            font-family: 'Jost', sans-serif;
            font-size: 40px;
            margin-top: 200px;
            text-align: center;
        }

        label {
            display: inline-block;
            margin-bottom: .5rem;
            text-align: left !important;
            float: left;
            margin-top: 12px;
        }

        h1 a:hover {
            color: #0d2212;
            text-decoration: none !important;
        }

        .btn-primary {
            color: #fff;
            background-color: #09045d !important;
            border-color: #f9f9f9 !important;
        }

        .login-6 .form-section {
            border: solid 10px #e5e6ea !important;
        }

        label {
            color: white !important;
        }

        .clearfix {
            color: white !important;
        }

        .login-6 .form-section p {
            color: #e7e7e7 !important;
        }

        .login-6 .form-section a.forgot-password {
            color: #f8f8f8 !important;
        }

        h1 a {
            color: #eaeced !important;
        }

        .login-6 .form-section h3 {
            margin: 0 0 0px;
            font-size: 25px;
            font-weight: 400;
            color: #fff;
        }

        .login-6 .form-inner {
            max-width: 450px;
            width: 100%;
            margin: 0 30px;
            text-align: center;
        }

        hr {
            margin-top: 0;
            margin-bottom: 0;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, .1);
        }

        .fo-s .form-floating {
            float: left;
            color: white;
        }
        .login-6 .info p {
            color: #e6e6e6;
            line-height: 38px;
            margin-top: 40rem;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
        }
        @@media (min-width: 768px) {
            .login-6 .form-inner {
                max-width: 450px;
                width: 50%;
                margin: 0 30px;
                text-align: center;
            }
        }
        @@media (max-width: 767px) {
            .login-6 .form-section a.forgot-password {
                font-size: 16px;
                color: #717171;
                float: left;
            }
        }
    </style>

</head>
<body id="top">

    <div class="login-6" style="background-image: url('../../img/koboview-dashboard-main-white.jpg') ">
        <div class="container-fluid">
            <div class="row login-box">
                <div class="col-lg-6 bg-color-15 align-self-center pad-0 none-992 bg-img">
                    <div class="info clearfix">
                        @*<h1><span>@await Component.InvokeAsync("CompanyName")</span></h1>*@
                        <p>
                            Redefining Digital Advertising with Integrity and Innovation. Join us to experience advertising that respects users, enhances brands, and delivers exceptional results.

                        </p>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center pad-0 form-section clip-home">
                    <div class="form-inner">
                        <a href="/" class="logo">
                            <img class="img-fluid logo" src="~/img/Koboview-lgn.png" alt="Koboview" style="height: 100px; padding: 0px; background-color: white;">
                        </a>
                        <div data-bn-type="text" class="css-leflpn">
                            <div data-bn-type="text" class="css-ft5043" style="color:#f5f5f5;">Please check that you are visiting the correct URL</div>
                            <div data-bn-type="text" class="css-gflt22">
                                <div class="css-1ur07bk">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-1mb79dz">
                                        <path d="M16.27 10.5V8.07C16.27 5.82 14.45 4 12.2 4S8.13 5.82 8.13 8.07v2.43H6v8.94h12.43V10.5h-2.16zm-3.07 6.46h-2v-4h2v4zm1.07-6.46h-4.14V8.07c0-1.14.93-2.07 2.07-2.07 1.14 0 2.07.93 2.07 2.07v2.43z" fill="currentColor"></path>
                                    </svg>
                                </div><div dir="ltr" class="css-vurnku">
                                    <span data-bn-type="text" class="css-e4p3">https://</span>
                                    <span style="color:#f5f5f5;">koboview.com</span>
                                </div>
                            </div>

                            @RenderBody()

                        </div>

                        <div class="clearfix"></div>


                        <p>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Login 6 start -->
    <!-- Login 6 end -->
    <!-- External JS libraries -->
    <script src="~/Login/AgileVendor/jquery-2.2.0.min.js"></script>
    <script src="~/Login/AgileVendor/popper.min.js"></script>
    <script src="~/Login/AgileVendor/bootstrap.min.js"></script>
    <!-- Custom JS Script -->
    @RenderSection("Scripts", required: false)

    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>
</html>