@page
@model JurayKV.UI.Areas.KvMain.Pages.ImagePage.UpdateModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE IMAGES</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Image.Id" />

                    <div class="form-group">
                        <label asp-for="Image.Name" class="control-label"></label>
                        <input asp-for="Image.Name" class="form-control" id="upper" onkeyup="myUppercase()" />
                        <span asp-validation-for="Image.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Image.ShowInDropdown" /> @Html.DisplayNameFor(model => model.Image.ShowInDropdown)
                        </label>
                    </div>


                    @if (!String.IsNullOrEmpty(Model.Image.ImageUrl))
                    {
                        <div class="form-group">
                            <label class="control-label">Previouse Image/Video</label><br />
                            @if (Model.Image.ImageKey.EndsWith(".jpg") || Model.Image.ImageKey.EndsWith(".jpeg") || Model.Image.ImageKey.EndsWith(".png") || Model.Image.ImageKey.EndsWith(".gif") || Model.Image.ImageKey.EndsWith(".bmp"))
                            {
                                <img src="@Model.Image.ImageUrl" class="img-fluid" style="max-height: 150px;" />
                            }
                            else if (Model.Image.ImageKey.EndsWith(".mp4") || Model.Image.ImageKey.EndsWith(".avi") || Model.Image.ImageKey.EndsWith(".mov") || Model.Image.ImageKey.EndsWith(".wmv") || Model.Image.ImageKey.EndsWith(".flv"))
                            {
                                <video controls style="height:120px;width:250px;">
                                    <source src="@Model.Image.ImageUrl" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            }


                            
                        </div>
                    }

                    <div class="form-group">
                        <label class="control-label">Image/Video</label><br />
                        <input type="file" class="control-label" asp-for="imagefile" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
