@page
@model JurayKV.UI.Areas.Auth.Pages.Account.LockedModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Koboview - Unlock Earnings by Sharing - Koboview Makes It Happen (@ViewData["Title"])</title>

    <link rel="shortcut icon" href="~/img/Koboview-Icon.png" type="image/x-icon" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dashboard/dist/css/adminlte.min.css">
</head>
<body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="/">
                <img src="~/img/Koboview-logo-main.png" class="main-logo" alt="logo" id="main_logo" style="max-height:70px;">

            </a>
        </div>
        <!-- User name -->
        <div class="lockscreen-name">@Model.Name</div>

        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="lockscreen-image">
                <img src="~/dashboard/user_lock.png" alt="Image">
            </div>
            <!-- /.lockscreen-image -->
            <!-- lockscreen credentials (contains the form) -->
            <form class="lockscreen-credentials">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">

                    <div class="input-group-append">
                        <button type="button" class="btn">
                            <i class="fas fa-lock text-muted"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /.lockscreen credentials -->

        </div>
        <!-- /.lockscreen-item -->
        <div class="help-block text-center">
            <h4>Your account has been suspended.</h4>
            <h6>Unusual Activity</h6>

            <p><strong>Step 1: Click the link to check and update your information <a asp-page="./UpdateUserData">Update</a></strong></p>
            @{ 
                TempData["id"] = Model.IdNx;
            }
            <p><strong>Step 2:</strong> <a href="https://wa.me/message/6SQ57ENNZMRPB1" class="btn btn-primary">Chat Support on whatsapp</a></p>
        </div>
        <div class="text-center">
            <a asp-page="./Login">Or sign in as a different user</a>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; @DateTime.UtcNow.Year <b><a href="/" class="text-black">Koboview</a></b><br>
            All rights reserved
        </div>
    </div>
    <!-- /.center -->
    <!-- jQuery -->
    <script src="~/dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />



}
