@page
@model JurayKV.UI.Areas.User.Pages.Account.HelpModel
@{
}

<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-bullhorn"></i>
                Need Help
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="callout callout-danger">
                <h5>Phone Number</h5>

                <p>
                    <a tel="+2347060530000">+2347060530000</a>
                </p>
            </div>
            <div class="callout callout-info">
                <h5>Email</h5>

                <p>help@koboview.com</p>
            </div>
            <div class="callout callout-info">
                <h5>WhatsApp (click to chat)</h5>
                <p><a href="https://wa.me/message/6SQ57ENNZMRPB1">Chat Us on Whatsapp</a></p>
            </div>
            <div class="callout callout-warning">
                <h5>Click on The Icon for Livechart</h5>


            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/65534d59cec6a912820fb6ad/1hf6mc9hg';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->